{% extends 'default.html' %}

{% block title %} создание проекта {% endblock title %}

{% block content %}
    <h3>Введите название проекта</h3>
    <form method="POST">
        {% csrf_token %}
        {% if project_name %}
            <input required type="text" name="project_name" value="{{ project_name }}">
            <input class="btn btn-primary" type="submit" value="Редактировать проект">
        {% else %}
            <input required type="text" name="project_name">
            <input class="btn btn-primary" type="submit" value="Создать проект">
        {% endif %}

    </form>
{% endblock content%}
