{% extends 'default.html' %}


{% block title %} Проект {{ single_project.project.project_name }}{% endblock title %}

{% block content %}
    <h2>Проект {{ single_project.project.project_name }}</h2>
    <div class="main-div">
        <form method="POST">
            {% csrf_token %}
            <div class="input-div">

                {% for month, number in output_data.items %}
                    <label><p class="input-label">{{ month }}:</p>
                        <input required class="data-input" type="number" value="{{ number }}" name="{{ month }}" placeholder="Данные за {{ month }}" min="0" step="0.01">
                    </label>
                {% endfor %}

                <div class="div-date">
                    <label>Начало отопительного периода:
                        <input required type="date" name="begin_heating" value="{{ single_project.begin_heating|date:'Y-m-d' }}">
                    </label>

                    <label>Конец отопительного периода: &nbsp;
                        <input required type="date" name="end_heating" value="{{ single_project.end_heating|date:'Y-m-d' }}">
                    </label>
                </div>

                <div class="div-data-submit">
                    <input class="btn btn-info" id="btn-save" type="submit" value="Сохранить">
                </div>

                <div class="div-btn-interpol">
                    <input class="btn btn-primary btn-block" type="button" id="btn1" value="График сухих данных">
                    <input class="btn btn-primary btn-block" type="button" id="btn2" value="Линейная интерполяция">
                </div>

            </div>
        </form>

        <div class="div-graph" id="graph"></div> {# тут график #}

    </div>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <script>
        btn1 = document.getElementById('btn1')
        btn2 = document.getElementById('btn2')

        let data = {{ list_data }}
        btn1.addEventListener('click', () => {
            Highcharts.chart('graph', {

                title: {
                    text: 'График сухих данных'
                },

                yAxis: {
                    title: {
                        text: 'Потребление, Вт'
                    }
                },

                xAxis: {
                    accessibility: {
                        rangeDescription: 'Range: 01 to 12'
                    }
                },

                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },

                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },
                        pointStart: 1
                    }
                },

                series: [{
                    name: 'Сухие данные',
                    data: data
                }],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }

            });
        })

        btn1.addEventListener('click', () => {
            Highcharts.chart('graph', {

                title: {
                    text: 'График сухих данных'
                },

                yAxis: {
                    title: {
                        text: 'Потребление, Вт'
                    }
                },

                xAxis: {
                    accessibility: {
                        rangeDescription: 'Range: 01 to 12'
                    }
                },

                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },

                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },
                        pointStart: 1
                    }
                },

                series: [{
                    name: 'Сухие данные',
                    data: data
                }],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }

            });
        })
    </script>

{% endblock content%}

