{% extends 'default.html' %}


{% block title %} Проект {{ single_project.project.project_name }}{% endblock title %}

{% block content %}
    <h2>Проект "{{ single_project.project.project_name }}"</h2>
    <div class="main-div">
        <form method="POST">
            {% csrf_token %}
            <div class="input-div">

                {% for month, number in output_data.items %}
                    <label><p class="input-label">{{ month }}:</p>
                        <input required class="data-input" type="number" value="{{ number }}" name="{{ month }}" placeholder="Данные за {{ month }}" min="0" step="0.01"> КВт/ч
                    </label>
                {% endfor %}

                <div class="div-date">
                    <label>Начало отопительного периода:
                        <input required type="date" name="begin_heating" value="{{ single_project.begin_heating|date:'Y-m-d' }}">
                    </label>

                    <label>Конец отопительного периода: &nbsp;
                        <input required type="date" name="end_heating" value="{{ single_project.end_heating|date:'Y-m-d' }}">
                    </label>
                    <label>Коэффициент экстрополяции: &nbsp; &nbsp;
                        <input required class="data-input" type="number" value="{{ coef }}" name="coef" placeholder="" min="1" step="0.001">
                    </label>
                </div>

                <div class="div-data-submit">
                    <input class="btn btn-info" id="btn-save" type="submit" value="Сохранить">
                </div>

                <div class="div-btn-interpol">
                    <input class="btn btn-primary btn-block" type="button" id="btn1" value="График сухих данных">
                    <input class="btn btn-primary btn-block" type="button" id="btn2" value="Среднесуточные значения">
                    <input class="btn btn-primary btn-block" type="button" id="btn3" value="Экстраполяция">

                    <div class="my_dropdown">
                    <input class="btn btn-primary btn-block dropbtn" type="button" id="btn4" value="Интерполяция">
                        <div id="myDropdown" class="dropdown-content">
                            <p>Выберите месяц интерполяции</p>
                            <input onclick="monthInterpol(0)" class="btn btn-warning btn-block" type="button" id="jan" value="Январь">
                            <input onclick="monthInterpol(1)" class="btn btn-warning btn-block" type="button" id="feb" value="Февраль">
                            <input onclick="monthInterpol(2)" class="btn btn-warning btn-block" type="button" id="mar" value="Март">
                            <input onclick="monthInterpol(3)" class="btn btn-warning btn-block" type="button" id="apr" value="Апрель">
                            <input onclick="monthInterpol(4)" class="btn btn-warning btn-block" type="button" id="may" value="Май">
                            <input onclick="monthInterpol(5)" class="btn btn-warning btn-block" type="button" id="jun" value="Июнь">
                            <input onclick="monthInterpol(6)" class="btn btn-warning btn-block" type="button" id="jul" value="Июль">
                            <input onclick="monthInterpol(7)" class="btn btn-warning btn-block" type="button" id="aug" value="Август">
                            <input onclick="monthInterpol(8)" class="btn btn-warning btn-block" type="button" id="sep" value="Сентябрь">
                            <input onclick="monthInterpol(9)" class="btn btn-warning btn-block" type="button" id="oct" value="Октябрь">
                            <input onclick="monthInterpol(10)" class="btn btn-warning btn-block" type="button" id="nov" value="Ноябрь">
                            <input onclick="monthInterpol(11)" class="btn btn-warning btn-block" type="button" id="dec" value="Декабрь">
                        </div>
                    </div>
                </div>

            </div>
        </form>

        <div class="div-graph" id="graph">{# тут график #}
            <div id="graph1"></div><div id="graph2"></div>
        </div>
    </div>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <script>
        btn1 = document.getElementById('btn1');
        btn2 = document.getElementById('btn2');
        btn3 = document.getElementById('btn3');
        btn4 = document.getElementById('btn4');

        const data = {{ list_data }};
        const dry_data = [
            {
            name: 'Январь',
            y: data[0],
            color: 'red'
            },
            {
            name: 'Февраль',
            y: data[1],
            color: 'red'
            },
            {
            name: 'Март',
            y: data[2],
            color: 'red'
            },
            {
            name: 'Апрель',
            y: data[3],
            color: 'red'
            },
            {
            name: 'Май',
            y: data[4],
            color: 'blue'
            },
            {
            name: 'Июнь',
            y: data[5],
            color: 'blue'
            },
            {
            name: 'Июль',
            y: data[6],
            color: 'blue'
            },
            {
            name: 'Август',
            y: data[7],
            color: 'blue'
            },
            {
            name: 'Сентябрь',
            y: data[8],
            color: 'blue'
            },
            {
            name: 'Октябрь',
            y: data[9],
            color: 'blue'
            },
            {
            name: 'Ноябрь',
            y: data[10],
            color: 'red'
            },
            {
            name: 'Декабрь',
            y: data[11],
            color: 'red'
            }
        ];
        const average_values = [
            {
            name: 'Январь',
            y: data[0] / 31,
            color: 'red'
            },
            {
            name: 'Февраль',
            y: data[1] / 28,
            color: 'red'
            },
            {
            name: 'Март',
            y: data[2] / 31,
            color: 'red'
            },
            {
            name: 'Апрель',
            y: data[3] / 30,
            color: 'red'
            },
            {
            name: 'Май',
            y: data[4] / 31,
            color: 'blue'
            },
            {
            name: 'Июнь',
            y: data[5] / 30,
            color: 'blue'
            },
            {
            name: 'Июль',
            y: data[6] / 31,
            color: 'blue'
            },
            {
            name: 'Август',
            y: data[7] / 31,
            color: 'blue'
            },
            {
            name: 'Сентябрь',
            y: data[8] / 30,
            color: 'blue'
            },
            {
            name: 'Октябрь',
            y: data[9] / 31,
            color: 'blue'
            },
            {
            name: 'Ноябрь',
            y: data[10] / 30,
            color: 'red'
            },
            {
            name: 'Декабрь',
            y: data[11] / 31,
            color: 'red'
            }
        ];

        btn1.addEventListener('click', () => {
            document.getElementById('graph').innerHTML = '<div style="width: 48%" id="graph1"></div><div style="width: 48%" id="graph2"></div>'
            document.getElementById('graph1').innerHTML = ''
            document.getElementById('graph2').innerHTML = ''
            Highcharts.chart('graph', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'График сухих данных'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    name: 'Потребление',
                    type: 'category',
                    labels: {
                        rotation: -45,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Потребление КВт/ч'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '<b>{point.y:.3f} КВт/ч</b>'
                },
                series: [{
                    name: 'Месяц',
                    data: dry_data,
                    dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        format: '{point.y:.3f}', // one decimal
                        y: 10, // 10 pixels down from the top
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                }]
            });
        });

        btn2.addEventListener('click', () => {
            document.getElementById('graph').innerHTML = '<div style="width: 48%" id="graph1"></div><div style="width: 48%" id="graph2"></div>'
            document.getElementById('graph1').innerHTML = ''
            document.getElementById('graph2').innerHTML = ''
            Highcharts.chart('graph', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Среднесуточные значения'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation: -45,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Потребление КВт/ч'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '<b>{point.y:.3f} КВт/ч</b>'
                },
                series: [{
                    name: 'Месяц',
                    data: average_values,
                    dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        format: '{point.y:.3f}', // one decimal
                        y: 10, // 10 pixels down from the top
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                }]
            });
        });

        btn3.addEventListener('click', () => {
            document.getElementById('graph').innerHTML = '<div style="width: 100%; height: 50%" id="graph1"></div><div style="width: 100%; height: 50%" id="graph2"></div>'
            document.getElementById('graph1').innerHTML = ''
            document.getElementById('graph2').innerHTML = ''
            let n = prompt('На сколько лет вперёд вы хотите экстрополировать данные?')
            if (n.replace (/\d/g, '').length) {
                alert('Данные введены некоректно')
            }
            else {
                let coef = {{ coef }};
                let begin_year = Number({{ single_project.end_heating|date:'Y' }});
                let list_years = []; //Список нужных лет
                for (let i = 0; i <= n; i++) {
                    list_years.push(begin_year + i)
                }

                let sum = 0; // сумма текщего года
                for (let i = 0; i < 12; i++){
                    sum += data[i]
                }

                let list_every_yaer = []; //список среднего потребления за следующие года
                list_every_yaer.push(sum);
                k = sum * coef;
                for (let i = 0; i < list_years.length - 1; i++) {
                    list_every_yaer.push(Math.round(k))
                    k *= coef
                }

                let year_average_value = sum / 12;
                let list_average_every_yaer = []; //список среднеМЕСЯЧНОГО потребления за следующие года
                list_average_every_yaer.push(year_average_value);
                k = year_average_value * coef;
                for (let i = 0; i < list_years.length - 1; i++) {
                    list_average_every_yaer.push(k)
                    k *= coef
                }

                // график за потребления за год
                Highcharts.chart('graph1', {

                    title: {
                        text: `Экстраполяция данных на ${n} лет`
                    },

                    yAxis: {
                        title: {
                            text: 'Потребление, КВт/ч'
                        }
                    },

                    xAxis: {
                            name: 'Год',
                            categories: list_years
                    },

                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },

                    plotOptions: {
                        series: {
                            label: {
                                connectorAllowed: false
                            },
                            pointStart: 0
                        }
                    },

                    series: [
                        {
                        name: 'Ежегодное потребление',
                        data: list_every_yaer
                        }
                    ],

                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]
                    }

                });

                // график среднемесячного потребления за год
                Highcharts.chart('graph2', {

                    title: {
                        text: `Экстраполяция данных среднемесяного потребления на ${n} лет`
                    },

                    yAxis: {
                        title: {
                            text: 'Потребление, КВт/ч'
                        }
                    },

                    xAxis: {
                            name: 'Год',
                            categories: list_years
                        },

                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },

                    plotOptions: {
                        series: {
                            label: {
                                connectorAllowed: false
                            },
                            pointStart: 0
                        }
                    },

                    series: [
                        {
                        name: 'среднемесяное потребление',
                        data: list_average_every_yaer
                        }
                    ],

                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]
                    }

                });

            }
        });

        btn4.addEventListener('click', () => {
            document.getElementById('graph').innerHTML = '<div style="width: 48%" id="graph1"></div><div style="width: 48%" id="graph2"></div>'
            document.getElementById('graph1').innerHTML = ''
            document.getElementById('graph2').innerHTML = ''
            document.getElementById("myDropdown").classList.toggle("show");
        });

        function monthInterpol(d) {
            d = average_values[d];
            let hour = d['y'] / 24;
            let trata = [hour * 0.001, hour * 0.0011, hour * 0.00134, hour * 0.0013, hour * 0.002, hour * 0.00278, hour * 0.0035, hour * 0.059, hour * 0.08, hour * 0.11, hour * 0.07, hour * 0.075, hour * 0.06, hour * 0.06, hour * 0.069, hour * 0.078, hour * 0.083, hour * 0.088, hour * 0.09, hour * 0.074, hour * 0.055, hour * 0.0037, hour * 0.0024, hour * 0.0019];

            Highcharts.chart('graph', {

                title: {
                text: `Примерное потребление энергии в течении дня за ${d['name']}`
                },

                yAxis: {
                    type: 'Потребление',

                    title:{
                    text: 'КВт/ч',
                    },
                },

                xAxis: {
                    title:{
                        text:'Часы'
                    },
                accessibility: {
                  rangeDescription: 'Range: 2010 to 2017'
                }
                },

                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },

                plotOptions: {
                series: {
                  label: {
                    connectorAllowed: false
                  },
                  pointStart: 0
                }
                },

                series: [{
                    name: ``,
                    data: trata
                }],

                responsive: {
                rules: [{
                  condition: {
                    maxWidth: 500
                  },
                  chartOptions: {
                    legend: {
                      layout: 'horizontal',
                      align: 'center',
                      verticalAlign: 'bottom'
                    }
                  }
                }]
                }

                });
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

{% endblock content%}

